.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.work__box {
  display: flex;
  align-items: center;
}

@media(max-width: 900px) {
  .work__box {
      align-items: initial;
      flex-direction: column-reverse;
  }
}

.work__box:not(:last-child) {
  margin-bottom: 25rem;
}

@media(max-width: 500px) {
  .work__box:not(:last-child) {
      margin-bottom: 20rem;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__text {
  flex: 0 0 30%;
}

.work__list {
  /* list-style-type: square; */
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.work__code {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all .3s;
}

.work__code:hover {
  transform: scale(1.2);
}

.work__image-box {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .work__image-box {
      flex: 1;
      margin: 0 0 0 10rem;
  }
}

@media(max-width: 900px) {
  .work__code {
      height: 4rem;
  }
}

.site-footer {
  background-color: #838383;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.linkedin-icon,
.github-icon {
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); 
  border-radius: 25px;
}

.linkedin-icon:hover,
.github-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}