/* SETUP */

body {
  font-size: var(--font-size-small);
  font-family: var(--font-stack);
  font-weight: 400;
  color: var(--white-1);
  line-height: var(--line-height-normal);
  background: var(--black);
  overflow-x: hidden;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* RESPONSIVENESS */

@media (max-width: 1000px) {
  .center-inner{left:25%;top:25%;position:absolute;width:50%;height:300px;background:#f0f;text-align:center;max-width:500px;max-height:500px;}
}
@media (min-width: 1000px) {
  .center{left:50%;top:25%;position:absolute;}
  .center-inner{width:500px;height:100%;margin-left:-250px;height:300px;background:#f0f;text-align:center;max-width:500px;max-height:500px;}
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ABOUT ME SECTION */
.about__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media(max-width: 900px) {
  .about__content {
      flex-direction: column-reverse;
      align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .about__text {
      flex: 0 0 35%;
  }
  
  .about__photo-container {
      flex: 1;
      margin: 0 var(--gutter-huge) 0 0;
  }
}

/* PROJECT SECTION */

.work__box {
  display: flex;
  align-items: center;
}

@media(max-width: 900px) {
  .work__box {
      align-items: initial;
      flex-direction: column-reverse;
  }
}

.work__box:not(:last-child) {
  margin-bottom: 25rem;
}

@media(max-width: 500px) {
  .work__box:not(:last-child) {
      margin-bottom: 20rem;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__text {
  flex: 0 0 30%;
}

.work__list {
  /* list-style-type: square; */
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.work__code {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all .3s;
}

.work__code:hover {
  transform: scale(1.2);
}

.work__image-box {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .work__image-box {
      flex: 1;
      margin: 0 0 0 10rem;
  }
}

@media(max-width: 900px) {
  .work__code {
      height: 4rem;
  }
}

/* FOOTER SECTION */

.site-footer {
  background-color: #838383;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.linkedin-icon,
.github-icon {
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); 
  border-radius: 25px;
}

.linkedin-icon:hover,
.github-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}